@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.content-top-other{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px;
    background-color: #511e77c7;
    border-radius: 5px;
    box-shadow: 3px 1px 12px black;
    color: white;
    margin-bottom: 5px;
    width: 90%;
    height: 400px;
    margin: auto;
}
.number-one-other{
    text-align: left;
}
.title-top-other{
    text-align: left;
    font-size: 20px;
}
.image-top-other{    
    max-height: 180px;
    display:block;
    margin:0 auto;
}
.content-image-top-other{
    width: 100%;
}